.cardContainer{
    display: grid;
    justify-items: stretch;
    padding-left: 60px;
    gap: 5px;
}

.card {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    border: 1px solid rgb(54, 194, 129);
    justify-items: center;
    align-items: baseline;
    background-color: rgba(204, 219, 207, 0.566);
}
.btn {
    margin: 2px;
    background-color: rgb(12, 142, 38);
    color: white;
    width: 100px;
}
.saveAndCancel {
    width: 100px;
    border: 2px solid rgb(126, 187, 35);
}

input {
    font-size: 1.2rem;
    text-align: center;
}