.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(188, 247, 207, 0.484);
    padding-block: 100px;
    min-height: 300px;
}

.title {
    font-size: 4rem;
}
.text {
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

