.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
}
.cardOne {
    border: 2px solid rgb(155, 155, 155);
    border-radius: 20px;
    width: 150px;
    background-color: rgb(243, 243, 243);
    width: 250px;
    height: 350px;
    align-content: center;
    text-align: center;
}
.english {
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}
.transcription {
    font-size: 1.2rem;
    color: rgb(106, 106, 106);
    margin-block-start: 0;
}
.hidden {
    font-size: 1rem;
    color: rgb(138, 138, 138);
    border-radius: 30px;
    background-color: green;
    color: white;
    width: 200px;
    border-radius: 10px;
    height: 60px;

}
.shows {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgb(126, 187, 35);
    height: 60px;

}
.btns {
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    gap: 350px;
    width: auto;
    padding: 0 20px;
    pointer-events: none;
}
.previousAndNext {
    width: 80px;
    border-radius: 50px;
    pointer-events: all;
    height: 80px;
    background-color: rgb(204, 203, 203);
}
